@media screen and (min-width: 481px) and (max-width: 1200px) {
  body {
    background-color: blue; }

  .newscontainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px; }

  .newscontainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px; }

  .container3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

  .container3 .frame2 .newstext {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0%; }

  .frame2 {
    width: 40%;
    position: relative;
    margin-bottom: 20px; }

  .newscontainer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px; }

  .newscontainer1 .frame .newstext {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0%;
    padding: 5px; }

  .newscontainer2 .frame .newstext {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0%; }

  .frame {
    width: 40%;
    position: relative; }

  .np2 {
    width: 30%;
    margin-left: 35%; }

  .cfblack {
    display: none; }

  .htbad {
    display: none; }

  .date {
    display: none; }

  li {
    float: left; }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 6px 0px 6px 20px;
    font-size: 1.5em;
    text-align: center; }

  #nameCF {
    color: white;
    text-align: center;
    font-size: 1em;
    margin-top: 10px; } }
@media screen and (min-width: 1201px) {
  .fswd {
    display: none; }

  .cfwhite {
    display: none; }

  .container3 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

  .frame2 {
    width: 40%;
    position: relative;
    margin-bottom: 20px; }

  .newscontainer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px; }

  .newscontainer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px; }

  .newscontainer1 .frame .newstext {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
    position: absolute;
    bottom: 0%;
    padding: 5px; }

  .newscontainer2 .frame .newstext {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 0%; }

  .container3 .frame2 .newstext {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 0%; }

  .frame {
    width: 28%;
    position: relative; }

  .np2 {
    width: 30%;
    margin-left: 70%; }

  li {
    float: left; }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 6px 0px 6px 40px;
    font-size: 3em;
    text-align: center; }

  #nameCF {
    color: white;
    text-align: center;
    font-size: 2em; } }
* {
  margin: 0;
  padding: 0; }

.container1 {
  background-color: #5B191A;
  display: flex;
  padding: 4% 0% 3% 6%;
  align-items: center;
  flex-direction: row; }

.container1 .newspaper {
  flex-grow: 2;
  width: 40%; }

.container1 .fswdc {
  flex-grow: 3;
  width: 75%; }

.newspaper img {
  width: 97%; }

.fswdc img {
  width: 90%;
  padding-left: 6%; }

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black; }

.date {
  text-align: right;
  color: black;
  margin: 6px 10px;
  font-size: 2em; }

.greybanner {
  background-color: #C4C4C4;
  width: 95%;
  padding: 12px 0px;
  margin-left: 2.5%;
  margin-bottom: 25px;
  margin-top: 10px; }

.greybanner p {
  font-size: 2em;
  margin-left: 12px; }

.frame img {
  width: 100%;
  object-fit: cover; }

.htbad {
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 30px; }

.frame2 img {
  width: 100%; }

.container4 {
  display: flex;
  margin-bottom: 50px;
  align-items: center; }

.footer {
  width: 100%;
  bottom: 0;
  background-color: black;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
